extends layout

block content
  -
    function getWeekday(date) {
      return date.toLocaleString("de-AT", { weekday: 'long' });
    }
    function getTime(date) {
      return date.toLocaleString("de-AT", { hour: 'numeric', minute: 'numeric' });
    }
    function onlyUnique(value, index, self) {
      return self.indexOf(value) === index;
    }
    let l = lessons.filter(l => l.getSubject?.toString() && l.getSubject?.toString() !== "").filter(onlyUnique).sort()

    l = [...new Map(l.map(item =>
            [item.getSubject.toString(), item])).values()];
  label
    input(type="checkbox", id="showAll")
    span Zeige Medizinfächer
    br
  each lesson in l.sort((a,b) => a.getSubject.toString().localeCompare(b.getSubject.toString()))
    label(aria-filtered=!lesson.schoolclass.addsSubjects)
      input(type="checkbox", name=lesson.getSubject.toString())
      span= lesson.getSubject.toString()
  table
    tr
      th Tag
      th Von
      th Bis
      th Fach
      th Lehrer
      th Raum
      th Klasse
      th Info
      th Status
    each lesson in lessons.filter(l => !l.isFree)
      tr
        td= getWeekday(lesson.startTime)
        td= getTime(lesson.startTime)
        td= getTime(lesson.endTime)
        td= lesson.getSubject
        td= lesson.getTeachers
        td= lesson.getRoom
        td= lesson.schoolclass.name
        td= lesson.lessonText
        td= lesson.cellState
  p.small MetaUntis by FuJa0815. #[a(href="https://github.com/FuJa0815/MetaUntis") Source]
  script.
    const subjects = !{JSON.stringify(l.map(x => x.getSubject.toString()))};
    function getChecked() {
      return $('input:checked').map((i,v) => v.name).toArray()
    }
    function update() {
      const checked = getChecked();
      $('tr:not(:first-child)').each((i, tr) => {
        const subject = $( tr ).children('td:nth-child(4)').text();
        if (checked.includes(subject) || !subject) {
          $(tr).show()
        } else {
          $(tr).hide()
        }
      })
    }
    function updateShowAll() {
      const checked = $('#showAll').is(":checked");
      if (checked)
        $('label[aria-filtered]').show()
      else
        $('label[aria-filtered]').hide()
    }
    $('input').on('change', update);
    $('#showAll').on('change', updateShowAll);
    update();
    updateShowAll();